PORT=5000
MONGO_URI=mongodb+srv://furniture_store:<password>@cluster0.xxxxx.mongodb.net/furniture_store?retryWrites=true&w=majority
JWT_SECRET=your_secret_key
CLIENT_URL=https://furniture-client-black.vercel.app
EMAIL_USER=salvimeet65@gmail.com
EMAIL_PASS=htwm bvox zjig vlpg
EMAIL_RECEIVER=salvimeet65@gmail.com
